<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="4%">
            <col width="47%">
            <col width="12%">
            <col width="13%">
            <col width="13%">
        </colgroup>
        <thead>
        <tr class="listItem">
            <th>
                <div class="selectFlag">
                    <div class="selectFlagArea" style="cursor: pointer"
                         data-o2-events="click:selectAllFile">
                        <div class="selectFlagIcon"></div>
                    </div>
                </div>
            </th>
            <th data-o2-element="sortNameNode" data-o2-events="click:sortFile:name">
                <span>文件名</span>
                <div class="sort" style="display: none">
                    <i class="o2Drive icon-shangjiantou"></i>
                    <i class="o2Drive icon-xiajiantou mainColor_color"></i>
                </div>
            </th>
            <th data-o2-element="sortUpdateTimeNode"  data-o2-events="click:sortFile:updateTime"><span>修改时间</span>
                <div class="sort" style="display: none">
                    <i class="o2Drive icon-shangjiantou"></i>
                    <i class="o2Drive icon-xiajiantou mainColor_color"></i>
                </div>
            </th>
            <th data-o2-element="sortLenthNode"  data-o2-events="click:sortFile:length">
                <span>大小</span>
                <div class="sort"  style="display: none">
                    <i class="o2Drive icon-shangjiantou"></i>
                    <i class="o2Drive icon-xiajiantou mainColor_color"></i>
                </div></th>

            <th>
                <span>所有者</span>
            </th>

        </tr>
        </thead>
    </table>
</div>
