<div class="appNode" data-o2-element="appNode">

    <div style="height: 100%" data-o2-element="contentAreaNode">


        <div class="menuArea">
            <div class="menu" data-o2-element="personMenuNode" >
                <div class="menuTitle">
                    <div class="menuTitleText">Office在线协作</div>
                </div>
                <div class="menuItem" data-o2-element="allMenuNode" data-o2-events="click:loadList:all">
                    <div class="menuItemIcon"><icon class="o2Drive icon-zhankai"></icon></div>
                    <div class="menuItemText">我的文件</div>
                </div>
                <div style="padding-left:20px" class="menuItem" data-o2-element="docxMenuNode" data-o2-events="click:loadList:docx">
                    <div class="menuItemIcon"><icon class="o2Drive icon-docx"></icon></div>
                    <div class="menuItemText">文档</div>
                </div>
                <div style="padding-left:20px" class="menuItem" data-o2-element="xlsxMenuNode" data-o2-events="click:loadList:xlsx">
                    <div class="menuItemIcon"><icon class="o2Drive icon-xlsx"></icon></div>
                    <div class="menuItemText">表格</div>
                </div>
                <div style="padding-left:20px" class="menuItem" data-o2-element="pptxMenuNode" data-o2-events="click:loadList:pptx">
                    <div class="menuItemIcon"><icon class="o2Drive icon-pptx"></icon></div>
                    <div class="menuItemText">演示</div>
                </div>

                <div class="menuDivider"></div>

                <div class="menuItem" data-o2-element="latestMenuNode" data-o2-events="click:loadList:latest">
                    <div class="menuItemIcon"><icon class="o2Drive icon-latest"></icon></div>
                    <div class="menuItemText">最近浏览</div>
                </div>

                <div class="menuItem" data-o2-element="starMenuNode" data-o2-events="click:loadList:star">
                    <div class="menuItemIcon"><icon class="o2Drive icon-star"></icon></div>
                    <div class="menuItemText">我的收藏</div>
                </div>

                <div class="menuItem" data-o2-element="myShareMenuNode" data-o2-events="click:loadList:myShare">
                    <div class="menuItemIcon"><icon class="o2Drive icon-share"></icon></div>
                    <div class="menuItemText">我的分享</div>
                </div>
                <div class="menuItem" data-o2-element="shareToMeMenuNode" data-o2-events="click:loadList:shareToMe">
                    <div class="menuItemIcon"><icon class="o2Drive icon-shareToMe"></icon></div>
                    <div class="menuItemText">分享给我</div>
                </div>
                <div class="menuItem" data-o2-element="recycleMenuNode" data-o2-events="click:loadList:recycle">
                    <div class="menuItemIcon"><icon class="o2Drive icon-recycle"></icon></div>
                    <div class="menuItemText">回收站</div>
                </div>

            </div>
        </div>
        <div class="contentArea" data-o2-element="mainNode">
        </div>


    </div>
</div>



