<div class="contentTitleArea">
    <table>
        <colgroup>
            <col width="47%">
            <col width="22%">
            <col width="23%">
            <col width="22%">
        </colgroup>
        <thead>
        <tr class="listItem">

            <th data-o2-element="sortNameNode">
                <span>文件名</span>

            </th>
            <th data-o2-element="sortUpdateTimeNode"><span>访问时间</span>

            </th>
            <th data-o2-element="sortLenthNode">
                <span>大小</span>
            </th>
            <th data-o2-element="sortLenthNode">
                <span>所属用户</span>
            </th>
        </tr>
        </thead>
    </table>
</div>
