<table width='100%' bordr='0' cellpadding='0' cellspacing='0'>

    <tr>
        <td styles='formTableTitleRight' lable='fileTypeIncludes'></td>
        <td styles='formTableValue' colspan='2'>
            <div item='fileTypeIncludes'></div>
        </td>
    </tr>

    <tr>
        <td styles='formTableTitleRight' lable='fileTypeExcludes'></td>
        <td styles='formTableValue' colspan='2'>
            <div item='fileTypeExcludes'></div>
        </td>
    </tr>

    <tr>
        <td styles='formTableTitleRight' lable='recycleDays'></td>
        <td styles='formTableValue' colspan='2'>
            <div item='recycleDays'></div>
        </td>
    </tr>

    <tr>
        <td styles='formTableTitleRight' lable='capacity'></td>
        <td styles='formTableValue' colspan='2'>
            <div item='capacity'></div>
        </td>
    </tr>



</table>
